body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url(../images/concrete_seamless.png);
    background-color:  #f1f1f1;
}
header{
    display: flex;
    flex-direction: column;
    align-items:center;
}

a:visited{
    color: blue;
}

.nav_links{
    display: flex;
    flex-direction: column;
}

.card > header{
    background: #288088;
    border: #45ADAD solid 2px; 
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.pricing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-basis: 450px;
    flex-direction:column;
}

.gallery > img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
   
}



@keyframes animate{
    from{
        width: 50px;
        opacity: 0;
    }

    to{
        width: 425px;
        opacity: 1;
    }
}
#logo{
    animation-name: animate;
    animation-duration: 5s;
}

.emoji{
    display: none;
}
@media screen and (min-width: 850px){
    body > header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  
    .card{
        display: flex;
        flex-basis: 250px;
    }
    
}

@media screen and (prefers-reduced-motion: reduce){
    #logo{
        animation-name: none;
    }
}
@media print{

    body{
        background-image: none;
        background-color: #ffffff;
    }

    nav{
        width:100%;
        justify-content: space-around;
    }

    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .pricing{
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .card{
        border: solid 2px #45ADDD;
        flex-basis: 250px;
    }
    .gallery, #gallery{
        display: none;
    }
    .emoji{
        display: inline-flex;
    }
}
